<!doctype html>
<html lang="en">
<script>
window.onload = function () {
var chart = new CanvasJS.Chart("chartContainer", {
  animationEnabled: true,
  title: {
    text: "CHAC Survey"
  },
  axisX: {
    title: "Competência / Conhecimento",
    minimum: 0,
    maximum: 10.5,
    interval: 1,
    stripLines:[
  {
    startValue:4.9,
    endValue:5.1,
    color:"#d8d8d8"
  }
  ],
  },
  axisY: {
    title: "Motivação",
    minimum: 0,
    maximum: 10.5,
    interval: 1,
    stripLines:[
  {
    startValue:4.9,
    endValue:5.1,
    color:"#d8d8d8"
  }
  ],
  },
  legend: {
    cursor: "pointer",
    itemclick: toggleDataSeries
  },
  data: [{
    type: "scatter",
    name: "Legenda",
    markerType: "none",
    showInLegend: false,
    dataPoints: [
      { x: 1, y: 10, indexLabel: "Treinamento" },
      { x: 1, y: 0, indexLabel: "Demissão" },
      { x: 9, y: 0, indexLabel: "Motivação" },
      { x: 6, y: 5, indexLabel: "Observação" },
      { x: 7, y: 6, indexLabel: "Reconhecimento" },
      { x: 8, y: 7, indexLabel: "Investimento" },
      { x: 9.3, y: 8.3, indexLabel: "Promoção" }
    ]
  },
  {
  type: "line",
  color:"#0000ff",
  markerType: "none",
  dataPoints: [
      { x: 6, y: 11},
      { x: 6, y: 6 },
      { x: 11, y: 6 }
    ],
  },
  {
  type: "line",
  color:"#0000ff",
  markerType: "none",
  dataPoints: [
      { x: 7, y: 11},
      { x: 7, y: 7 },
      { x: 11, y: 7 }
    ],
  },
  {% for i in range(0,m) %}
    {%if row3[i][7] == survey_user_id %}
      {% set stringrow = row3[i][5] | replace("{", "") | replace ("}" , "") | string %}
      {% set list = stringrow.split(',') %}
      {% set c1 = list.0 | int %}
      {% set a1 = list.2 | int %}
      {% set h1 = list.1 | int %}
      {% set c2 = list.3 | int %}
      {% set newdate = row3[i][6] | string %}
      {% set x = h1 + c2 %}
      {% set y = c1 + a1 %}
	{
		type: "scatter",
		name: "{{newdate}}",
		showInLegend: true,
		dataPoints:[
			{ x: {{x/2}}, y: {{y/2}}}
			]
	},
    {% endif %}
  {%endfor%}
  {
  type: "line",
  color:"#0000ff",
  markerType: "none",
  dataPoints: [
      { x: 8.5, y: 11},
      { x: 8.5, y: 8.5 },
      { x: 11, y: 8.5 }
    ],
  }]
});
chart.render();

function toggleDataSeries(e) {
  if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
    e.dataSeries.visible = false;
  } else {
    e.dataSeries.visible = true;
  }
  e.chart.render();
}

}
</script>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="Content-Language" content="en">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <title>ChartJS - Huge selection of charts created with the React ChartJS Plugin</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=yes" />
      <meta name="description" content="Huge selection of charts created with the React ChartJS Plugin">
      <meta name="msapplication-tap-highlight" content="no">
      <!--
      =========================================================
      * ArchitectUI HTML Theme Dashboard - v1.0.0
      =========================================================
      * Product Page: https://dashboardpack.com
      * Copyright 2019 DashboardPack (https://dashboardpack.com)
      * Licensed under MIT (https://github.com/DashboardPack/architectui-html-theme-free/blob/master/LICENSE)
      =========================================================
      * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
      -->
  <link href="{{ url_for('static',filename='styles/./main.css')}}" rel="stylesheet"></head>
  <body>
      <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
          <div class="app-header header-shadow">
              <div class="app-header__content">
                      <ul class="header-menu nav">
                          <li class="btn-group nav-item my-lg-0">
  														<!-- <a href="/index.html" class="nav-link">
  																<i class="nav-link-icon fa fa-edit"></i>
  																Home
  														</a> -->
                              <a href="/logout" class="nav-link">
                                  <i class="nav-link-icon fa fa-edit"></i>
                                  Logout
                              </a>
                          </li>
                      </ul>
              </div>
          </div>
                  <div class="app-main__outer">
                      <div class="app-main__inner">
                          <div class="app-page-title">
                              <div class="page-title-wrapper">
                                  <div class="page-title-heading">
                                      <div class="page-title-icon">
                                          <i class="pe-7s-bandaid icon-gradient bg-amy-crisp">
                                          </i>
                                      </div>
                                      <div>ChartJS
                                          <div class="page-title-subheading">Huge selection of charts created with the React ChartJS Plugin
                                          </div>
                                      </div>
                                  </div>

                                  </div>
                                </div>
                          </div>

                          <div class="tab-content">
                              <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                                   <div class="row">
                                      <div class="col-md-6">
                                          <div class="main-card mb-3 card">
                                              <div class="card-body" style:"height:500; width:500;">
                                                <h5 class="card-title">Employee Results</h5>
                                                <div>
                                                  <div id="chartContainer" style="height: 1000; width: 1000;">
                                                  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                                                </div>
                                              </div>
                                          </div>
                                       </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                      <div class="app-wrapper-footer">
                          <div class="app-footer">
                              <div class="app-footer__inner">
                                  <div class="app-footer-right">
                                      <ul class="nav">
                                          <!-- <li class="nav-item">
                                              <a href="javascript:void(0);" class="nav-link">
                                                  Footer Link 1
                                              </a>
                                          </li>
                                          <li class="nav-item">
                                              <a href="javascript:void(0);" class="nav-link">

                                                  Footer Link 2
                                              </a>
                                          </li> -->
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
  								</div>
  <script type="text/javascript" src="./assets/scripts/main.js"></script></body>
  </html>
