<head>
	<title>
		Just testing
	</title>
</head>
<body>
	<form action="/inputRating" method="post">
		<p>Caráter:</p>
		<div>
			<input type="radio" id="characterChoice1" name="character" value="1" required>
			<label for="characterChoice1">1</label>
			<input type="radio" id="characterChoice2" name="character" value="2">
			<label for="characterChoice2">2</label>
			<input type="radio" id="characterChoice3" name="character" value="3">
			<label for="characterChoice3">3</label>
			<input type="radio" id="characterChoice4" name="character" value="4">
			<label for="characterChoice4">4</label>
			<input type="radio" id="characterChoice5" name="character" value="5">
			<label for="characterChoice5">5</label>
			<input type="radio" id="characterChoice6" name="character" value="6">
			<label for="characterChoice6">6</label>
			<input type="radio" id="characterChoice7" name="character" value="7">
			<label for="characterChoice7">7</label>
			<input type="radio" id="characterChoice8" name="character" value="8">
			<label for="characterChoice8">8</label>
			<input type="radio" id="characterChoice9" name="character" value="9">
			<label for="characterChoice9">9</label>
			<input type="radio" id="characterChoice10" name="character" value="10">
			<label for="characterChoice10">10</label>
		</div>
		<p>Habilidade:</p>
		<div>
			<input type="radio" id="habilityChoice1" name="hability" value="1" required>
			<label for="habilityChoice1">1</label>
			<input type="radio" id="habilityChoice2" name="hability" value="2">
			<label for="habilityChoice2">2</label>
			<input type="radio" id="habilityChoice3" name="hability" value="3">
			<label for="habilityChoice3">3</label>
			<input type="radio" id="habilityChoice4" name="hability" value="4">
			<label for="habilityChoice4">4</label>
			<input type="radio" id="habilityChoice5" name="hability" value="5">
			<label for="habilityChoice5">5</label>
			<input type="radio" id="habilityChoice6" name="hability" value="6">
			<label for="habilityChoice6">6</label>
			<input type="radio" id="habilityChoice7" name="hability" value="7">
			<label for="habilityChoice7">7</label>
			<input type="radio" id="habilityChoice8" name="hability" value="8">
			<label for="habilityChoice8">8</label>
			<input type="radio" id="habilityChoice9" name="hability" value="9">
			<label for="habilityChoice9">9</label>
			<input type="radio" id="habilityChoice10" name="hability" value="10">
			<label for="habilityChoice10">10</label>
		</div>
		<p>Atitude::</p>
		<div>
			<input type="radio" id="attitudeChoice1" name="attitude" value="1" required>
			<label for="attitudeChoice1">1</label>
			<input type="radio" id="attitudeChoice2" name="attitude" value="2">
			<label for="attitudeChoice2">2</label>
			<input type="radio" id="attitudeChoice3" name="attitude" value="3">
			<label for="attitudeChoice3">3</label>
			<input type="radio" id="attitudeChoice4" name="attitude" value="4">
			<label for="attitudeChoice4">4</label>
			<input type="radio" id="attitudeChoice5" name="attitude" value="5">
			<label for="attitudeChoice5">5</label>
			<input type="radio" id="attitudeChoice6" name="attitude" value="6">
			<label for="attitudeChoice6">6</label>
			<input type="radio" id="attitudeChoice7" name="attitude" value="7">
			<label for="attitudeChoice7">7</label>
			<input type="radio" id="attitudeChoice8" name="attitude" value="8">
			<label for="attitudeChoice8">8</label>
			<input type="radio" id="attitudeChoice9" name="attitude" value="9">
			<label for="attitudeChoice9">9</label>
			<input type="radio" id="attitudeChoice10" name="attitude" value="10">
			<label for="attitudeChoice10">10</label>
		</div>
		<p>Conhecimento:</p>
		<div>
			<input type="radio" id="knowledgeChoice1" name="knowledge" value="1" required>
			<label for="knowledgeChoice1">1</label>
			<input type="radio" id="knowledgeChoice2" name="knowledge" value="2">
			<label for="knowledgeChoice2">2</label>
			<input type="radio" id="knowledgeChoice3" name="knowledge" value="3">
			<label for="knowledgeChoice3">3</label>
			<input type="radio" id="knowledgeChoice4" name="knowledge" value="4">
			<label for="knowledgeChoice4">4</label>
			<input type="radio" id="knowledgeChoice5" name="knowledge" value="5">
			<label for="knowledgeChoice5">5</label>
			<input type="radio" id="knowledgeChoice6" name="knowledge" value="6">
			<label for="knowledgeChoice6">6</label>
			<input type="radio" id="knowledgeChoice7" name="knowledge" value="7">
			<label for="knowledgeChoice7">7</label>
			<input type="radio" id="knowledgeChoice8" name="knowledge" value="8">
			<label for="knowledgeChoice8">8</label>
			<input type="radio" id="knowledgeChoice9" name="knowledge" value="9">
			<label for="knowledgeChoice9">9</label>
			<input type="radio" id="knowledgeChoice10" name="knowledge" value="10">
			<label for="knowledgeChoice10">10</label>
		</div>
		<div>
			<button type="submit">Submit</button>
		</div>
		</form>
	<pre id="log3">
	</pre>
</body>
