<html lang="en">
<head>
	<title>Ajude o Comércio Local</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/animate/animate.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/main.css')}}">
<!--===============================================================================================-->
</head>
<body>
	{% include 'menu.html' %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 col-md-6 p-t-25 p-b-50">
					<span class="login100-form-title p-b-33">
					</span>
					<h1><center>Ajude os Comércios Locais!</center></h1>
					<br>
					<p>

						{% with messages = get_flashed_messages() %}
  						{% if messages %}
    						<script>
      							var messages = {{ messages | safe }};
      							for (var i=0; i<messages.length; i++) {
        						alert(messages[i]);
      							}
    						</script>
  						{% endif %}
						{% endwith %}
					</p>
					<table table-layout = "fixed" width= "100%">
					<td width = "50%">
							<form class="login100-form validate-form col-sm p-l-15 p-r-25 p-t-15 p-b-15" action="/redirect1" border = "1px solid red">
							<h3><center>Apoiador</center></h3>
							<p><center>(Compre Créditos)</center></p>
							<br>
							<p>Quer ajudar algum empreededor a sobreviver ao isolamento pelo COVID-19?
								<br>
								<br>
								Compre créditos de serviço futuro, pague ao empreendedor, ele receberá renda agora e, quando tudo melhorar, você utiliza o serviço já comprado!
								<br>
								<br>
								Preencha como pode ajudar os comércios locais e encontraremos os empreendedores para você.
							</p>
								<div class="container-login100-form-btn m-t-20">
									<button class="login100-form-btn">
										Quero ajudar!
									</button type="submit" value="Submit_Voluntary">
								</div>
							</form>
						</td>
						<td  width = "50%">
							<form class="login100-form validate-form col-sm p-l-25 p-r-15 p-t-15 p-b-15" action="/redirect2" border = "1px solid red">
							<h3><center>Comércio Local</center></h3>
							<p><center>(Venda Créditos)</center></p>
							<br>
							<p>É empreendedor e quer ajuda para sobreviver ao isolamento pelo COVID-19?
								<br>
								<br>
								Venda créditos de serviço futuro, recebera a renda agora e, quando tudo melhorar, você presta o serviço já vendido!
								<br>
								<br>
								Preencha como pode ajudar sua comunidade e encontraremos os compradores para você.
							</p>
								<div class="container-login100-form-btn m-t-20">
									<button class="login100-form-btn">
										Preciso de ajuda!
									</button type="submit" value="Submit_Server">
								</div>
							</form>
					</td>
				</table>

					<div class="text-center p-t-45 p-b-4">
						<span class="txt1">
							Criado por:
						</span>

						<a href="https://www.linkedin.com/in/andr%C3%A9-cordeiro-3296b372/" class="txt2 hov1">
							André C.
						</a>
						<br>
						<br>
						<font size = "2px"><em>Alguma Dúvida? Fale comigo, clique no link acima</em></font>
					</div>

			</div>
		</div>
	</div>



<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendor/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendor/select2/select2.min.js')}}"></script>
	<script src="{{ url_for('static',filename='vendor/daterangepicker/moment.min.js')}}"></script>
	<script src="{{ url_for('static',filename='vendor/daterangepicker/daterangepicker.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendor/countrowntime/countrowntime.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='js/main.js')}}"></script>

</body>
</html>
