<html lang="en">
<head>
	<title>Ajude o Comércio Local</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/animate/animate.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/main.css')}}">
<!--===============================================================================================-->
</head>
<body>
	{% include 'menu.html' %}

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 col-md-6 p-l-65 p-r-65 p-t-25 p-b-50">
					<span class="login100-form-title p-b-33">
					</span>
					<h2>Comércios da sua região:</h2>
					<hr>
					<p>

						{% with messages = get_flashed_messages() %}
  						{% if messages %}
    						<script>
      							var messages = {{ messages | safe }};
      							for (var i=0; i<messages.length; i++) {
        						alert(messages[i]);
      							}
    						</script>
  						{% endif %}
						{% endwith %}
					</p>

					{%if same_city == 0%}
						<!-- Sem comércios :() -->
						<h3><center>Poxa, não encontramos comércios para você ainda.</center></h3> <br>
						<p><center>Nossa base ainda não indicou alguém automaticamente. Se increva no botão abaixo e lhe procuraremos em breve!</center></p>
						<div class="container-login100-form-btn m-t-20 m-b-10">
							<form action="/redirect1">
								<button class="login100-form-btn">
									Me inscrever!
								</button type="submit" value="Submit">
							</form>
						</div>

					{%else%}
						{%if match > 0%}
						<!-- Match Perfeito -->
							<div class="card bg-success mb-3">
								<div class="card-header text-white">
									<h3>No seu bairro</h3>
									<small>Mesmo bairro e serviço que procura</small>
								</div>
								<ul class="list-group list-group-flush">
									{%for i in match_list%}
									<li class="list-group-item">
										<h5 class="card-title">{{i.nome}}</h5>
										<p class="">Ramo: {{i.ramo}}</p>
										<p class="card-text">Telefone: {{i.telefone}}</p>
										<p class="card-text">E-mail: {{i.email}}</p>
										<div class="container-login100-form-btn m-t-20 m-b-10">
											<form method = "post" action="/server_intention">
												<input name = "id_user" type="hidden" value="{{i.id_user}}">
												<input name = "id_email" type="hidden" value="{{i.email}}">
												<input name = "id_name" type="hidden" value="{{i.nome}}">
												<input name = "id_phone" type="hidden" value="{{i.telefone}}">
												<button class="login100-form-btn">
													Quero ajudar
												</button type="submit" value="Submit">
											</form>
										</div>
									</li>
									{%endfor%}
								</ul>
							</div>
						{%endif%}
						{%if same_city_and_service > 0%}
							<!-- Mesma cidade e serviço -->
							<div class="card bg-light mb-3">
								<div class="card-header">
									<h3>Mesmo serviço na sua cidade</h3>
									<small>Mesma cidade e serviço que procura</small>
								</div>
								<ul class="list-group list-group-flush">
									{%for i in same_city_and_service_list%}
									<li class="list-group-item">
										<h5 class="card-title">{{i.nome}}</h5>
										<p class="">Ramo: {{i.ramo}}</p>
										<p class="card-text">Telefone: {{i.telefone}}</p>
										<p class="card-text">E-mail: {{i.email}}</p>
										<div class="container-login100-form-btn m-t-20">
											<form method = "post" action="/server_intention">
												<input name = "id_user" type="hidden" value="{{i.id_user}}">
												<input name = "id_email" type="hidden" value="{{i.email}}">
												<input name = "id_name" type="hidden" value="{{i.nome}}">
												<input name = "id_phone" type="hidden" value="{{i.telefone}}">
												<button class="login100-form-btn">
													Quero ajudar
												</button type="submit" value="Submit">
											</form>
										</div>
									</li>
									{%endfor%}
								</ul>
							</div>
						{%endif%}
						{%if other_service_same_neighbor > 0%}
							<!-- Mesma cidade e serviço -->
							<div class="card bg-light mb-3">
								<div class="card-header">
									<h3>No seu bairro</h3>
									<small>Mesmo bairro e outros serviços</small>
								</div>
								<ul class="list-group list-group-flush">
									{%for i in other_service_same_neighbor_list%}
									<li class="list-group-item">
										<h5 class="card-title">{{i.nome}}</h5>
										<p class="">Ramo: {{i.ramo}}</p>
										<p class="card-text">Telefone: {{i.telefone}}</p>
										<p class="card-text">E-mail: {{i.email}}</p>
										<div class="container-login100-form-btn m-t-20 m-b-10">
											<form method = "post" action="/server_intention">
												<input name = "id_user" type="hidden" value="{{i.id_user}}">
												<input name = "id_email" type="hidden" value="{{i.email}}">
												<input name = "id_name" type="hidden" value="{{i.nome}}">
												<input name = "id_phone" type="hidden" value="{{i.telefone}}">
												<button class="login100-form-btn">
													Quero ajudar
												</button type="submit" value="Submit">
											</form>
										</div>
									</li>
									{%endfor%}
								</ul>
							</div>
						{%endif%}
						{%if same_city_other_service > 0%}
							<!-- Mesma cidade e serviço -->
							<div class="card bg-light mb-3">
								<div class="card-header">
									<h3>Na sua cidade</h3>
									<small>Mesma cidade e outros serviços</small>
								</div>
								<ul class="list-group list-group-flush">
									{%for i in same_city_other_service_list%}
									<li class="list-group-item">
										<h5 class="card-title">{{i.nome}}</h5>
										<p class="">Ramo: {{i.ramo}}</p>
										<p class="card-text">Telefone: {{i.telefone}}</p>
										<p class="card-text">E-mail: {{i.email}}</p>
										<div class="container-login100-form-btn m-t-20 m-b-10">
											<form method = "post" action="/server_intention">
												<input name = "id_user" type="hidden" value="{{i.id_user}}">
												<input name = "id_email" type="hidden" value="{{i.email}}">
												<input name = "id_name" type="hidden" value="{{i.nome}}">
												<input name = "id_phone" type="hidden" value="{{i.telefone}}">
												<button class="login100-form-btn">
													Quero ajudar
												</button type="submit" value="Submit">
											</form>
										</div>
									</li>
									{%endfor%}
								</ul>
							</div>
						{%endif%}
					{%endif%}
					<br>
			</div>
		</div>
	</div>



<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendor/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendor/select2/select2.min.js')}}"></script>
	<script src="{{ url_for('static',filename='vendor/daterangepicker/moment.min.js')}}"></script>
	<script src="{{ url_for('static',filename='vendor/daterangepicker/daterangepicker.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendor/countrowntime/countrowntime.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='js/main.js')}}"></script>

</body>
</html>
