.w-checkbox {
  display: block;
  margin-bottom:5px;
  padding-left:20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span:1;
  grid-column-end:2;
  -ms-grid-column:1;
  grid-column-start:1;
  -ms-grid-row-span:1;
  grid-row-end:2;
  -ms-grid-row:1;
  grid-row-start:1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span:1;
  grid-column-end:2;
  -ms-grid-column:1;
  grid-column-start:1;
  -ms-grid-row-span:1;
  grid-row-end:2;
  -ms-grid-row:1;
  grid-row-start:1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom:0px;
  margin-left: -20px;
  margin-right:0px;
  margin-top:4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width:1px;
  border-bottom-width:1px;
  border-left-width:1px;
  border-right-width:1px;
  border-top-color:#ccc;
  border-bottom-color:#ccc;
  border-left-color:#ccc;
  border-right-color:#ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width:12px;
  height:12px;
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color:#3898ec;
  border-top-color:#3898ec;
  border-bottom-color:#3898ec;
  border-left-color:#3898ec;
  border-right-color:#3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position:50%50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow:0px0px3px1px#3898ec;
}

.contact-form {
  padding-top:100px;
  padding-bottom:100px;
}

.contact-form-grid {
  display: block;
  margin-top:40px;
  grid-auto-columns:1fr;
  grid-column-gap:20px;
  grid-row-gap:20px;
  -ms-grid-columns:1fr1fr;
  grid-template-columns:1fr1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.textarea {
  float: none;
}

.text-field {
  margin-bottom:10px;
  font-size:14px;
  line-height:15px;
}

@media screen and (max-width:767px) {
  .contact-form {
    padding:40px20px;
  }
}

#w-node-51454d8f484c-c6dc639b {
  -ms-grid-row: span1;
  grid-row-start: span1;
  -ms-grid-row-span:1;
  grid-row-end: span1;
  -ms-grid-column: span1;
  grid-column-start: span1;
  -ms-grid-column-span:1;
  grid-column-end: span1;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

@media screen and (max-width:479px) {
  #w-node-51454d8f483c-c6dc639b {
    -ms-grid-column: span2;
    grid-column-start: span2;
    -ms-grid-column-span:2;
    grid-column-end: span2;
    -ms-grid-row: span1;
    grid-row-start: span1;
    -ms-grid-row-span:1;
    grid-row-end: span1;
  }
  #w-node-51454d8f4844-c6dc639b {
    -ms-grid-column: span2;
    grid-column-start: span2;
    -ms-grid-column-span:2;
    grid-column-end: span2;
    -ms-grid-row: span1;
    grid-row-start: span1;
    -ms-grid-row-span:1;
    grid-row-end: span1;
  }
  #w-node-51454d8f4848-c6dc639b {
    -ms-grid-column: span2;
    grid-column-start: span2;
    -ms-grid-column-span:2;
    grid-column-end: span2;
    -ms-grid-row: span1;
    grid-row-start: span1;
    -ms-grid-row-span:1;
    grid-row-end: span1;
  }
}
